In [18]:
import pandas as pd
df = pd.read_csv('timeline_tweets_ukraine.csv')
df["temp"] = df['Time']
df["Time"] = df['Tweet']
df["Tweet"] = df["temp"]
del df["temp"]
df.to_csv('timeline_tweets_ukraine2.csv', index=False)
# reshuffle the data

In [32]:
csv_files = [
    'putin_and_ukraine_tweets.csv',
    'timeline_tweets_ukraine2.csv',
    'timeline_tweets_putin.csv',
    'timeline_tweets_ukraine_2000.csv'
]
df_merged = pd.concat(map(pd.read_csv, csv_files), ignore_index=True)
df_test = df_merged.copy()
#do your merge and copy

In [35]:
df_test['Time']= df_test['Time'].apply(lambda x:x.replace(':', '-')[:-6])
#run only once because of the apply function, it does your strng replace and cutting

In [44]:
df_test_2 = df_test.copy()
df_test_2['Time']
#copy and check how time column looks

0       2022-06-23 09-57-26
1       2022-06-23 09-56-56
2       2022-06-23 09-56-41
3       2022-06-23 09-56-30
4       2022-06-23 09-55-58
               ...
3585    2022-06-22 13-21-15
3586    2022-06-22 13-21-14
3587    2022-06-22 13-21-14
3588    2022-06-22 13-21-14
3589    2022-06-22 13-21-14
Name: Time, Length: 3590, dtype: object

In [45]:
#column reshuffling
df_test_2["DateTimeStr"] = df_test_2['Time']

In [51]:
from datetime import datetime
_format = '%Y-%m-%d %H-%M-%S'
dt_func = lambda dt_str: datetime.strptime(str(dt_str), _format) #convert datetime str to datetime obj
time_func = lambda dt_str: datetime.strptime(str(dt_str), _format).time() #convert datetime str to time
date_func = lambda dt_str: datetime.strptime(str(dt_str), _format).date() #convert datetime str to date
df_test_2["DateTimeObj"]= df_test_2["DateTimeStr"].apply(dt_func)
df_test_2["Date"]= df_test_2["DateTimeStr"].apply(date_func)
df_test_2["Time"]= df_test_2["DateTimeStr"].apply(time_func)
# go striaght ahead and perform the date time thing on time columns

In [52]:
print(df_test_2["Date"],"\n"*2)
print(df_test_2["Time"],"\n"*2)
print(df_test_2["DateTimeObj"],"\n"*2)

0       2022-06-23
1       2022-06-23
2       2022-06-23
3       2022-06-23
4       2022-06-23
           ...
3585    2022-06-22
3586    2022-06-22
3587    2022-06-22
3588    2022-06-22
3589    2022-06-22
Name: Date, Length: 3590, dtype: object


0       09:57:26
1       09:56:56
2       09:56:41
3       09:56:30
4       09:55:58
          ...
3585    13:21:15
3586    13:21:14
3587    13:21:14
3588    13:21:14
3589    13:21:14
Name: Time, Length: 3590, dtype: object


0      2022-06-23 09:57:26
1      2022-06-23 09:56:56
2      2022-06-23 09:56:41
3      2022-06-23 09:56:30
4      2022-06-23 09:55:58
               ...
3585   2022-06-22 13:21:15
3586   2022-06-22 13:21:14
3587   2022-06-22 13:21:14
3588   2022-06-22 13:21:14
3589   2022-06-22 13:21:14
Name: DateTimeObj, Length: 3590, dtype: datetime64[ns]